<header class="site-header">

  <nav class="site-nav">
    <div class="wrapper">
        <a class="site-title pls" href="{{ site.baseurl }}/">Jenn Does Product</a>
      <div class="pull-right">
        <ul class="horizontal-list">
          <li><a class="page-link {% if page.title == "About" %}{{ "active" }}{% endif %}" href="/about">About</a></li>
          <li><a class="page-link {% if page.title == "Writing" %}{{ "active" }}{% endif %}" href="/writing">Writing</a></li>
          <li><a class="page-link {% if page.title == "Resume" %}{{ "active" }}{% endif %}" href="/resume">Resume</a></li>
      </div>
    </div>

  </nav>

</header>
