/**
 * Site header
 */
.site-header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

// To make the page content sit below the header
.header-spacer {
  height: 60px;
}

.site-nav {
  line-height: 56px;
  text-align: center;
  font-family: $sister-font-family;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: $text-color;
  &:hover {
    text-decoration: none;
  }

}

.page-link {
  color: $text-color;
  text-transform: uppercase;
  line-height: $base-line-height;

  &:hover {
    text-decoration: none;
  }
}

/**
 * Page content
 */
.page-content {
  height: 100%;
  margin-bottom: -150px,
}

.page-content:after {
  content: "";
  display: block;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Site footer
 */

.site-footer {
  height: 150px; 
  background-color: $teal-4;
  color: $teal-1;

  a {
    color: $teal-1;

    &:hover {
      color: $teal-1-dark;
    }
  }
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-icon {

  > svg {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;

    path {
      @extend .transition-default;
      fill: $teal-1;
    }
    &:hover {
      path { 
        fill: $teal-1-dark;
      }
    }
  }
}


